body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

#text {
  font-family: Monserrat;
  font-size: large;
}

/*--- navigation bar ---*/
.navbar {
  background: #2ecc71;
}
.nav-link,
.navbar-brand {
  color: #ecf0f1;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover, .navbar-brand:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/*
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width:100%;
}
.carousel-inner img {
  width: 100vw;
     height: 80vh;
     object-fit: contain;
          object-position: 50% 50%;
          max-width:100%;
   }
 .contact-form{
  margin: 6em 0;
  position: relative;
 }

 .contact-form h1{
  padding:2em 1px;
  color: #F97300;
 }
 .contact-form .right{
  max-width: 600px;
 }
 .contact-form .right .btn-secondary{
  background:  #F97300;
  color: #fff;
  border:0;
 }
 .contact-form .right .form-control::placeholder{
  color: #888;
  font-size: 16px;
 }

 /* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
  color: #008000;
}
.fab {
  color: #000000;
}
/* footer styling */
#footer {
  background-color: #2ecc71;
  text-align: center;
}